---
title: "Doctasm Features"
active_menu_item: product
class_name: products
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/product">Overview</a></li>      
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/example">Example</a></li>         
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/product/services">Services</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="overview-sections">
  <div class="container">
    <h1>Document Anything. Run Anywhere.</h1>
    <div class="clearfix">
      <ul class="clearfix">
        <li>
          <a href="#standard">
            <h3>Standard</h3>
            <p>What's in the general goodie bag</p>
          </a>
        </li>
        <li>
          <a href="#formatting">
            <h3>Formatting</h3>
            <p>How you can format your docs</p>
          </a>
        </li>
        <li>
          <a href="#deploy">
            <h3>Deployment</h3>
            <p>The ways you can deploy your docs</p>
          </a>
        </li>   
        <li>
          <a href="#advanced">
            <h3>Advanced</h3>
            <p>Advanced goodies</p>
          </a>
        </li>       
      </ul>
      <div id="video">
        <a href="#"> 
          <%= image_tag 'home/slides/slide_equal.png', :alt => 'Build your UI with drag-and-drop visual development' %>
          <%= image_tag 'icon_play_overlay.png', :alt => 'Build your UI with drag-and-drop visual development' %>
          <p>Watch the overview video</p>     
        </a> 
      </div>
    </div>
  </div>
</section>


<a name="standard"></a>
<section id="overview-standard-features" class="overview-section">
  <div class="container clearfix">
    <div>
    <%= image_tag 'products/standard_300.png', :alt => 'Build your UI with drag-and-drop visual development' %>
    </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Standard Stuff</h1>
      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
            <h4>Easy Editing</h4>
            <p>Doctasmic markdown format is easy for anyone yet fully styleable. </p>          
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
            <h4>Style Templates</h4>
            <p>Use ours or add your own with full CSS control.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Table of Contents</h4>
            <p>Full featured, drag-and-drop, customizable. Everything your need.</p>            
          </td>
          <td width="20px"></td>
          <td valign= "top" >
            <h4>Instant Preview</h4>
            <p>Switch to view in live mode with a single click.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Search</h4>
            <p>Full powered search driven by central tagging, saving hours. Works on your Mobile Apps, too.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Doc Asset Management</h4>
            <p>Upload images and other files that are needed in your docs.</p>            
          </td>
        </tr>  
      </table>         
    </article>
  </div>
</section>

<a name="formatting"></a>
<section id="overview-formatting" class="overview-section">
  <div class="container clearfix">
    <div>
      <%= image_tag 'products/formatting_300.png', :alt => 'Write javascript code for the client and server' %>
    </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Formatting Options</h1>
      <p>Your formatting options are virtually limitless. Doctasmic Markdown comes with plenty of document stylings but you can add anything you like with a little tinkering.</p>

      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
            <h4>Font Control</h4>
            <p>All body and header fonts can be controlled via the easy to use Doctasm menus.</p>      
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
            <h4>Body Text</h4>
            <p>This is the main body text.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Headers</h4>
            <p>As many header styles as you like although one is normally right for clean docs.</p> 
          </td>
          <td width="20px"></td>
          <td valign= "top" >
            <h4>Lists</h4>
            <p>Bullets, numbered and custom list styles.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Code</h4>
            <p>If you are a software company and want to include code examples including special formatting for standard languages.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Special Callout Styles</h4>
            <p>We support a range of styles such as Important, Tips &amp; Tricks, Examples and you can define your own.</p>            
          </td>
        </tr>  
        <tr>
          <td valign= "top">
            <h4>Images &amp; Videos</h4>
            <p>Embed images (with click and zoom support) and videos (with popout play window).</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Hyperlinks</h4>
            <p>Create links to other doc pages or to external pages.</p>          
          </td>
        </tr>     
        <tr>
          <td valign= "top">
            <h4>HTML Inserts</h4>
            <p>Insert HTML for 'catchall' situations.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
      
          </td>
        </tr>                 
      </table>    
    </article>
  </div>
</section>

<a name="deploy"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    <div>
    <%= image_tag 'products/deployment_300.png', :alt => 'Deploy as a web app and to the App Stores.' %>
  </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Deployment</h1>
      <p>You have real freedom to deploy in very cool ways using Doctasm.</p>


      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
           <h4>Desktop Web App</h4>
          <p>Your docs will run on any desktop browser.</p>         
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
          <h4>Mobile Web App</h4>
          <p>Docs will adapt beautifully and automatically on smartphones.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
          <h4>Deploy to App Stores</h4>
          <p>With a click of a button, you can turn your Doc into an App Store ready App for iOS, Android and Windows Phone.</p>          
          </td>
          <td width="20px"></td>
          <td valign= "top" >
          <h4>Deploy to Doctasm or Private Server</h4>
          <p>You are free to deploy your Docs to the Doctasm platform or download them and run on your own Windows, Mac or Linux servers.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Staging &amp; Production Modes</h4>
            <p>You can specify a Staging server (on Doctasm or your own server) for testing your Docs before pushing them to into Production.</p>  
          </td>
          <td width="20px"></td>
          <td  valign= "top">
          </td>
        </tr>  
      </table>  
    </article>
  </div>
</section>

<a name="advanced"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    <div>
    <%= image_tag 'products/advanced_300.png', :alt => 'Deploy as a web app and to the App Stores.' %>
  </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Advanced Features</h1>

      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
            <h4>Headers &amp; Footers</h4>
            <p>You can include fully customizable Headers and Footers for your Docs.</p>     
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
            <h4>Roll your own styling</h4>
            <p>As we use standard web technologies, you can create any styling you want by editing our CSS templates.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Breadcrumbs</h4>
            <p>You can switch on a breadcrumbs bar to show your current opsition within the Table of Contents.</p>      
          </td>
          <td width="20px"></td>
          <td valign= "top" >
            <h4>Page Maximizing</h4>
            <p>The user can press a button to toggle the Table of Contents and page content to fill the entire screen.</p>           
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Next &amp; Previous Pages</h4>
            <p>You can ask Doctasm to display special links to take you to the next and previous pages.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
          </td>
        </tr>  
      </table>  
    </article>
  </div>
</section>

